.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	height: calc(100vh - var(--navbar-height));
	width: var(--sidebar);
	background-color: var(--bg-color-secondary);

	&_opened {
		width: var(--sidebar-opened);
	}

	&__controllers {
		display: flex;
		justify-content: center;
	}
}